version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: samset-web
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/samset_engineering
      - NEXTAUTH_SECRET=changeme
      - NEXTAUTH_URL=http://localhost:3000
      - AWS_REGION=${AWS_REGION}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_S3_BUCKET_NAME=${AWS_S3_BUCKET_NAME}
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    container_name: samset-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
